$Primary:#9356DC;
$Secondary:#FF79DA;
$Tertiary:#99E2D0;
$backgound:#F2F2F2;
$backgoundSection1:#F1F1F1;
$backgoundSection2:#F1F1F1;
$MenuBackgourdColor:#F1F1F1;
$menuHoverColor:#99E2D0;

$footerBackGroundColor:rgba(14, 13, 13, 0.829);
$footerTextColor:white;