
@import './variables';
@import './resets';





@mixin flexBox($direction,$justifyContent,$alignitem)
 {
                display: flex;
                flex-direction: $direction;
                justify-content:$justifyContent;
                align-items:$alignitem;
    }


  @mixin circleIcon
  {
    height:15px;
    width: 15px;
    border:1px solid $Primary;
    border-radius:10px;
    background-color: $Primary;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;

  }  
    
  
  body
  {
      background-color:$backgound;
     
      
      .Pageloder
      {
          position:absolute;
          top:0;
          left: 0;
          width: 100vw;
          height:100vh;
          @include flexBox(column,center,center);
          background-color: white;
          animation-name: homepageloderfadeout;
          animation-duration: .5s;
          animation-delay: 3s;
          animation-fill-mode: forwards;
          
          
          &:before
             {
            position: absolute;
            content:'';
            width:100px;
            height:100px;
            border-radius: 50%;
            box-shadow: 0 0 5px rgb(78, 78, 78);
          animation-name: homepageloder;
          animation-duration:3s;
          animation-iteration-count:infinite;
          animation-timing-function:ease;
          animation-fill-mode:forwards;
                  }
         
         .pageloaderext
         {
            position:absolute;
            font-weight: 700;
            color: #5a18aa;
            @include flexBox(row,center,center);
         }
      
      }
   

            header
                    {
                    
                        background-color: rgb(252, 254, 255);
                        width: 375px;
                        margin:auto;
                        flex:auto;
                        @include flexBox(row,center,center);
                        
                        .LogoImg
                        {
                            width:60%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            height:70%;
                                object-fit: cover;
                            
                        }
                    }





        main
        {
            
            width: 375px;
            margin: auto;
            
            .Section_Location
            {   @include flexBox(row,center,center);
                margin-top: 15px;
                margin-bottom: 15px;
                background-color: transparent;
            }
            

            .Nav
            {
                display: flex;
                flex-direction: column;
                background-color:white;
                padding-top:20px;
                padding-bottom: 20px;
                padding-right: 10px;
                padding-left: 10px;
                        
                    .navText
                        {
                         margin-bottom: 15px;
                        }
                    .navLinks
                        {
                            @include flexBox(column,space-between,flex-start);
                            flex-wrap: wrap;
                    
                                .navResturant
                                    {   
                                        width:100%;
                                        height: 80px;
                                        border-radius: 30px;
                                        background-color: $MenuBackgourdColor;
                                        margin-bottom: 15px;
                                        display: flex;
                                        flex-direction:row;
                                        align-items: center;
                                        &:hover
                                            {
                                                background-color: #dfcce7;
                                            }
                                        .divNavIconText
                                        {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content:flex-start;
                                            align-items: center;
                                            .navIconPadding
                                            {
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            }
                                        }
                                       .circleIcon
                                        {
                                          @include  circleIcon;
                                        }
                                    }
                            .navMenu
                            {
                                width:100%;
                                height: 80px;
                                border-radius: 30px;
                                background-color: $MenuBackgourdColor;
                                margin-bottom: 15px;
                                display: flex;
                            flex-direction:row;
                            align-items: center;
                            &:hover
                                            {
                                                background-color: #dfcce7;
                                            }
                            .divNavIconText
                             {
                                display: flex;
                                flex-direction: row;
                                justify-content:flex-start;
                                align-items: center;
                                .navIconPadding
                                 {
                                padding-left: 20px;
                                padding-right: 20px;
                                  }
                             }
                                .circleIcon
                                {
                                   
                                     @include  circleIcon;
                                }
                            }
                            .navEnjoyatResturant
                                {
                                    width:100%;
                                    height: 80px;
                                    border-radius: 30px;
                                    background-color: $MenuBackgourdColor;
                                    display: flex;
                                    flex-direction:row;
                                    align-items: center;
                                    &:hover
                                            {
                                                background-color: #dfcce7;
                                            }
                                    .divNavIconText
                                    {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content:flex-start;
                                        align-items: center;
                                        .navIconPadding
                                        {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        }
                                    }

                                            .circleIcon
                                            {
                                            
                                                @include  circleIcon;
                                            }
                                }
                        }
            }

            .Section2
                {
                    display: flex;
                    flex-direction: column;
                     align-items: center;
                    padding-left:15px;
                    padding-right: 15px;
                    padding-bottom:20px;
                    border: 2px solid white;
                    background-color:$backgoundSection1;
                  .ExploreRestaurants
                    {
                        width: 200px;
                        height: 50px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: linear-gradient(25deg,#9356DC,#a041c5,#dc56af);
                        background-size: 160%;
                        background-position: right;
                        margin-bottom:15px;
                        color: white;
                        
                        
                        
                        &:hover
                          {
                            color:black;
                            animation-name: buttonColor;
                            animation-duration:.5s;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            box-shadow: 3px 3px 3px rgb(78, 78, 78);
                          }         
                    }

                    .header_1
                        {
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                        .header_2
                        {
                            margin-bottom: 15px;
                            text-align:center
                        }


                }
             
                .Restaurants
                 {
                           @include flexBox(column,flex-start,flex-start);
                           height:auto;
                           background-color:$backgoundSection2;
                           border: 2px solid white;
                           padding-left:15px;
                           padding-right:15px;

                           .divTextRestuarants
                           {
                            padding-top: 25px;
                            padding-bottom:15px;
                            
                           }
                         
                 .ContainerRestaurantsCards{

                            @include flexBox(column,space-between,flex-start);

                            flex-wrap: wrap;
                                                   

                           .RestaurantsCards
                          {
                                width:340px;
                                height: 230px;
                                @include flexBox(column,null,null);
                                margin-bottom: 10px;
                                background-color:white;
                                border: white 2px;
                                border-radius: 10px;

                                        .RestaurantsImages{
                                                
                                                width: 100%;
                                                height: max-content;    
                                                margin: 0px;

                                                  .newRestuarant{
                                                    height: 30px;
                                                    width:70px;
                                                    text-align: center;
                                                    @include flexBox(row,center, center);
                                                    background-color:$Tertiary;
                                                    position:absolute;
                                                    margin-left: 250px;
                                                    margin-top: 5px;
                                                    

                                                  }

                                                  
                                                        .Rest_images
                                                    {
                                                    height:180px;
                                                    width:340px;
                                                    object-fit: cover;
                                                    border-top-left-radius: 10px;
                                                    border-top-right-radius: 10px;
                                                    
                                                    }

                                             }

                                .RestaurantsText {
                                    @include flexBox(row,null,null);
                                    flex-wrap: wrap;
                                        .innerRestaurantsText{
                                                     width: 70%;
                                                    padding-left: 5px;
                                                    padding-right: 5px;
                                                    @include flexBox(column,center,flex-start);
                                                    flex-wrap: wrap;
                                                    
                                        }
                                        .innerRestaurantsIcons{
                                            width: 30%;
                                            display: flex;
                                            @include flexBox(column,center,flex-end);
                                            padding-right: 10px;
                                            
                                            
                                                 
                                            .fa-solid  
                                            {   
                                               
                                            
                                              transform: scale(0);
                                              
                                            }
                                             
                                            .fa-regular{
                                              
                                              &:hover + .fa-solid
                                            {
                                              
                                                
                                                animation: heartBackgroundFill 3s forwards ease;
                                                
                                            }
                                  
                                            
                                           
                                            }


                                            
                                        }
                                }
                        
                            }
                    }
                       
                      
                       
                       


                    }

        }





            .footer
            {
                width: 375px;
                margin: auto;
                background-color:$footerBackGroundColor;
                color:$footerTextColor;
                padding-left: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                .maillink{
                    color: white;
                    text-decoration: none;
                }
            }   
       

     
}

@keyframes buttonColor {
    
    0%{
        background-position: right;
        background-size: 200%;
 
     }
    100%{background-position: right;
        background-size: 300%;
      }
     
    
    
}

@keyframes heartBackgroundFill {
    0%{
     transform: scale(0);
        
 
     }
    100%{transform: scale(1);
      }
    
}







@keyframes homepageloder {

    0%{transform: rotate(120deg); 
    box-shadow: 1px 5px 2px #a30cd1;} 
   
   50%{transform: rotate(180deg);
       box-shadow: 1px 5px 2px #390fd1;}
   
   

    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #28c014;
        
           }
}

@keyframes homepageloderfadeout {
        
        100%{
            visibility: hidden;
             display: none;
             
               }
    }
    





.Location
{ 

    margin-left: 15px;
}








