* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F2F2F2;
}
body .Pageloder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation-name: homepageloderfadeout;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
body .Pageloder::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(78, 78, 78);
  animation-name: homepageloder;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
body .Pageloder .pageloaderext {
  position: absolute;
  font-weight: 700;
  color: #a31090;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: pageloaderextAnimation 4s ease forwards;
}
body header {
  background-color: rgb(252, 254, 255);
  width: 375px;
  margin: auto;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .LogoImg {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  object-fit: cover;
}
body main {
  width: 375px;
  margin: auto;
  animation: mainblockVisibility 6s ease-out;
}
body main .Section_Location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
}
body main .Nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
body main .Nav .navText {
  margin-bottom: 15px;
}
body main .Nav .navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
body main .Nav .navLinks .navResturant {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main .Nav .navLinks .navResturant:hover {
  background-color: #dfcce7;
}
body main .Nav .navLinks .navResturant .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body main .Nav .navLinks .navResturant .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
body main .Nav .navLinks .navResturant .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .Nav .navLinks .navMenu {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main .Nav .navLinks .navMenu:hover {
  background-color: #dfcce7;
}
body main .Nav .navLinks .navMenu .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body main .Nav .navLinks .navMenu .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
body main .Nav .navLinks .navMenu .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .Nav .navLinks .navEnjoyatResturant {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main .Nav .navLinks .navEnjoyatResturant:hover {
  background-color: #dfcce7;
}
body main .Nav .navLinks .navEnjoyatResturant .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body main .Nav .navLinks .navEnjoyatResturant .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
body main .Nav .navLinks .navEnjoyatResturant .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .Section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border: 2px solid white;
  background-color: #F1F1F1;
}
body main .Section2 .ExploreRestaurants {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(25deg, #9356DC, #a041c5, #dc56af);
  background-size: 160%;
  background-position: right;
  margin-bottom: 15px;
  color: white;
}
body main .Section2 .ExploreRestaurants:hover {
  color: black;
  animation-name: buttonColor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 3px 3px 3px rgb(78, 78, 78);
}
body main .Section2 .header_1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
body main .Section2 .header_2 {
  margin-bottom: 15px;
  text-align: center;
}
body main .Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  background-color: #F1F1F1;
  border: 2px solid white;
  padding-left: 15px;
  padding-right: 15px;
}
body main .Restaurants .divTextRestuarants {
  padding-top: 25px;
  padding-bottom: 15px;
}
body main .Restaurants .ContainerRestaurantsCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards {
  width: 340px;
  height: 245px;
  display: flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: white;
  border: white 2px;
  border-radius: 10px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .newRestuarant {
  height: 30px;
  width: 70px;
  text-align: center;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 250px;
  margin-top: 5px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsImages {
  width: 100%;
  height: max-content;
  margin: 0px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsImages .Rest_images {
  height: 180px;
  width: 340px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsText {
  width: 70%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsText .RestaurantsNameText {
  margin-bottom: 5px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsIcons {
  width: 30%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsIcons .fa-regular {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsIcons .fa-regular:hover {
  background-color: transparent;
  animation: RegualareartBackgroundFill 0.5s forwards ease;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsIcons .fa-regular .fa-solid {
  color: white;
}
body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsText .innerRestaurantsIcons .fa-regular .fa-solid:hover {
  visibility: visible;
  animation: heartBackgroundFill 3s forwards ease;
}
body .footer {
  width: 375px;
  margin: auto;
  background-color: rgba(14, 13, 13, 0.829);
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  display: flex;
  flex-direction: column;
}
body .footer .FooterChild1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 700;
}
body .footer .FooterChild2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
body .footer .FooterChild3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
body .footer .FooterChild4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
body .footer .FooterChild5 {
  margin-top: 5px;
  margin-bottom: 20px;
}
body .footer .maillink {
  color: white;
  text-decoration: none;
}
body .footer .fa-utensils {
  margin-right: 15px;
  height: 10px;
}
body .footer .fa-handshake {
  margin-right: 10px;
  height: 10px;
}

@keyframes buttonColor {
  0% {
    background-position: right;
    background-size: 200%;
  }
  100% {
    background-position: right;
    background-size: 300%;
  }
}
@keyframes heartBackgroundFill {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes RegualareartBackgroundFill {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    display: none;
  }
}
@keyframes homepageloder {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #a30cd1;
    color: #a30cd1;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #e229d3;
    color: #e229d3;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #390fd1;
    color: #390fd1;
  }
}
@keyframes pageloaderextAnimation {
  0% {
    color: #a30cd1;
  }
  50% {
    color: #e229d3;
  }
  100% {
    color: #390fd1;
  }
}
@keyframes homepageloderfadeout {
  100% {
    visibility: hidden;
    display: none;
  }
}
@keyframes mainblockVisibility {
  0% {
    visibility: hidden;
    display: none;
  }
  50% {
    visibility: hidden;
    display: none;
  }
  100% {
    visibility: visible;
  }
}
.Location {
  margin-left: 15px;
}

/*# sourceMappingURL=main.css.map */
