*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width :420px)
{
    .header {
        width: 100%;
            }
            .main
            {
                width: 100%
            }
            .footer
            {
                width: 100%

            }
            body main .Nav .navLinks {
             height: auto;
             flex-direction: column;
             justify-content: center;
              flex-wrap: wrap;
        

               
            }

            body main .Nav .navLinks .navResturant
            {
                width:100%;

            }
            body main .Nav .navLinks .navMenu{
                width:100%;

            }

            body main .Nav .navLinks .navEnjoyatResturant
            {
                width:100%;
            }

            main .Section2 .ExploreRestaurants:hover {
                color: black;
                background-color: #9356DC;
              }

            main .Nav .navLinks .navResturant:hover {
                background-color: #dfcce7;
              }

              body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards
              {
                width: 90%;
              }

              body main .Restaurants .ContainerRestaurantsCards
            {
                flex-direction: column;
            }


}

@media screen and (max-width:600px)
{
    body main .Nav .navLinks {
        height: auto;
        flex-direction: column;
        justify-content: center;
         flex-wrap: wrap;
   

          
       }

       body main .Nav .navLinks .navResturant
            {
                width:100%;

            }
            body main .Nav .navLinks .navMenu{
                width:100%;

            }

            body main .Nav .navLinks .navEnjoyatResturant
            {
                width:100%;
            }

            body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards
              {
                width: 100%;
              }
              body main .Restaurants .ContainerRestaurantsCards .RestaurantsCards .RestaurantsImages .Rest_images {
            width: 100%;
            object-fit: cover;  
            }
}

@media screen and (min-width :900px)
{
    body main .Restaurants .ContainerRestaurantsCards{
        justify-content:space-between;
        
        
        width: 100%;
    }
}