

@media screen and (max-width :428px)
{
    header {
        width: 100%;
    }

    .main{ width: 100%;}
    .footer
    {width: 100%;}

    .main .MenuMainContainer{
        justify-content: flex-start;
        }

        .main .MenuMainContainer .MenuBasille .MenuBasilleText{
        width:60%;
        text-align: left;
        font-size: x-large;
    }
    
    .main .MenuMainContainer .MenuBasille .MenuBasilleHertIcon{
        width:40%;
        padding-right: 15px;
    }

    

    .main .MenuMainContainer .MenuEntrees {
    justify-content: flex-start;
    width: 100%;
    }

    .main .MenuMainContainer .MenuEntrees .childMenuEntreesText 
    {  
        width: 100%;
        padding-left: 20px;
    }

    .main .MenuMainContainer .MenuEntrees .childMenuEntreesText:after {
        content: "";
        display: block;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 13%;
        margin-bottom: 10px;
        border-bottom: 3px solid #99E2D0;
      }
 

    .main .MenuMainContainer .MenuBasille 
         { width: 100%;
           
         }

         .main .MenuMainContainer .MenuEntrees .ParentMenu 
         {
            width: 90%;
         }
}


@media screen and (max-width :648px)
{
    .main .MenuMainContainer .MenuBasille 
         { width: 100%;
           
         }
    .main .MenuMainContainer .MenuBasille .MenuBasilleText{
        width:40%;
        text-align: left;
        font-size: x-large;
        
        
    }
    
    .main .MenuMainContainer .MenuBasille .MenuBasilleHertIcon{
        position: relative;
        width:60%;
        padding-left: 51%;
        padding-right: 15px;
        
      
       
    }

    

    .main .MenuMainContainer .MenuEntrees {
        justify-content: flex-start;
        width: 100%;
        }

        .main .MenuMainContainer .MenuEntrees .childMenuEntreesText 
    {  
        width: 100%;
       
    }

    .main .MenuMainContainer .MenuEntrees .childMenuEntreesText:after {
        content: "";
        display: block;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 16%;
        margin-bottom: 10px;
        border-bottom: 3px solid #99E2D0;
      }
   
    .main .MenuMainContainer .MenuEntrees .ParentMenu {
    width: 100%;
    
    }
    .main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList{
        width: 100%;
    }

}