@import './variables';
@import './resets';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;900&display=swap');



@mixin flexBox($direction,$justifyContent,$alignitem)
 {
                display: flex;
                flex-direction: $direction;
                justify-content:$justifyContent;
                align-items:$alignitem;
    }


    
body
{
    background-color:$backgound;
    display: flex;
    @include flexBox(column,null,null);

}

header{
              
    background-color: rgb(252, 254, 255);
    width: 375px;
    margin:auto;
    flex:auto;
    @include flexBox(row,center,center);
    .backlink{
        margin-left:15px;
    }
    
    .LogoImg
       {
          width:60%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          margin-bottom: 10px;
          height:70%;
            object-fit: cover;
           
       }
}


.main
{
    
    width: 375px;
    margin: auto;
   
    
   .RestaurantsImages
   {
    .Rest_images
    {
       width:100%;
       height:250px;
    }
   }

     .MenuMainContainer{
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding-left: 10px;
        padding-right: 10px;
       
        border-left: .5px solid white;
            border-right: .5px solid white;
        width:100%;
        background-color:$backgoundSection2;
        
        position: relative;
        top: -50px;
        @include flexBox(column,center,center);
         .MenuBasille
         {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
           display: flex;
           flex-direction: row; 
               .MenuBasilleText{
                font-family:$menuTitleFontFamily;
                font-size:$menuTitleFont-fontSize;
                font-weight: $menuTitleFont-fontWeight;
               
                
                padding-left: 20px;
                   width: 70%;
                }   
                .MenuBasilleHertIcon{
                    width: 30%;
                    position: relative;
                    
                    padding-left: 60px;
                    padding-top: 10px;
                    overflow: hidden;


                    .top-heart {
                                                     
                        position: relative;
                        top: -15px;
                        display: none;
                        width: 15px;
                        height: 15px;
                      
                      }
                      
                      .bottom-heart {
                        width: 15px;
                        height: 15px;
                      }
                      
                      .fa-heart {
                        transition-duration: 2s;
                        transition-property: color;
                        transition-timing-function: ease-out;
                      }
                      
                      .bottom-heart:hover + .top-heart {
                        display: block;
                        position: relative;
                       
                        color: #9356DC;
                    
                        
                      }
                      

                }
         }

         .MenuEntrees{
            font-family: roboto;
            width:100%;
            
            @include flexBox(column,flex-start,null);
                    .childMenuEntreesText{

                        font-weight:$submenuBoldTextFontWeight;
                        font-size:$submenuBoldTextFontSize;
                       font-family:$submenuBoldTextFontFamily;
                        
                        
                     margin-bottom: 5px;
                     
                     
                    }

                    .childMenuEntreesText:after {
                        content: "";
                        display: block;
                        left: 0;
                        bottom: 0;
                        height: 5px;
                        width: 13%;
                        margin-bottom: 10px;
                        border-bottom: 3px solid $Tertiary;
                      }

                .ParentMenu{
                    @include flexBox(column,flex-start,null);
                   
                    animation-duration: 2000ms;
                    animation-name: MenuVisiblity;
                    
                    


                    .childMenuEntreesList:nth-child(1)
                    {
                        position: relative;
                        
                        animation-duration: 1000ms;
                
                        animation-name:  MenuLoad;
                        animation-fill-mode:forwards;
                        
                    }
                    .childMenuEntreesList:nth-child(2)
                    {
                        position: relative;
                
                        animation-duration: 1000ms;

                        animation-name:  MenuLoad;

                        animation-delay:.5s;
                        animation-fill-mode:forwards;
                        

                    }

                    .childMenuEntreesList:nth-child(3)
                    {
                        
                        position: relative;
                        animation-duration: 1000ms;
                        animation-name:  MenuLoad;
                        animation-delay:.8s;
                        animation-fill-mode:forwards;
                       
                    }

                   
                    .childMenuEntreesList{
                        position: relative;
                        
                        width: 100%;
                        background-color: white ;
                        height: 60px;
                        border-radius: 15px;
                        margin-bottom: 15px;
                        
                        cursor: pointer;
                        @include flexBox(column,flex-start,null);
                               .MenuEntreesList1{
                                height: 100%;
                                @include flexBox(row,flex-start,null);
                                   .MenuEntreesList1Text{
                                    
                                     width: 80%;
                                     margin-left:10px;
                                     margin-right:10px;
                                     display: flex;
                                     @include flexBox(column,center,flex-start);
                                     white-space: nowrap;
                                     overflow: hidden;
                                     text-overflow:clip;
                                     .MenuEntreesList1BoldText{
                                        font-weight:$submenuBoldTextFontWeight;
                                     font-size:$submenuBoldTextFontSize;
                                    font-family:$submenuBoldTextFontFamily;

                                     }
                                     .MenuEntreesList1LigtText{
                                        
                                        
                                       
                                        margin-top: 5px;
                                        font-weight:$submenuNormalTextFontWeight;
                                        font-size:$submenuNormalTextFontSize;
                                       font-family:$submenuNormalTextFontFamily;
                                        
                                     }
                                   }

                                   .MenuEntreesList1Price
                                   {
                                    width: 30%;
                                    position: relative;
                                    display: inline;
                                    
                                    @include flexBox(row,flex-end,end);
                                    
                                    
                                    .MenuPrice{
                                        margin-right: 15px;
                                        margin-bottom: 10px;
                                        
                                        @include flexBox(column,null,end);
                                    }

                                   }
                                   .menuCheckmark
                                    {   visibility: hidden;
                                        display: none;
                                        position: relative;
                                        border-top-right-radius: 15px;
                                        border-bottom-right-radius: 15px;
                                        height: 100%;
                                        width: 80px;
                                        background-color: $menuHoverColor;
                                        
                                        transform-origin:right 50%;
                                        transition-duration: 3s;
                                        transition-delay: 2s;
                                        animation-name:MenuHoverTransition;
                                        animation-duration: 1000ms;   
                                        .fa-circle-check{
                                            color: white;
                                            background-color: white;
                                           
                                            border-radius: 20px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            
                                            color: $Tertiary;
                                            animation-name:MenuHoverTransitionCheckmark;
                                            animation-duration: 800ms;
                                        }

                                    }

                               }

                               &:hover {

                                
                                .menuCheckmark{
                                    
                                    visibility: visible;
                                    
                                     display: flex;
                                     flex-direction: column;
                                     justify-content: center;
                                     align-items: center;
                                     margin-left:10px;
                                                 
                                      
                                
                                }
                              }
                    }
                    
                }
                
         } 

         .MenuBasilleButton{
            width: 200px;
            height: 50px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-image: linear-gradient(25deg,#9356DC,#a041c5,#dc56af);
            margin-bottom:15px;
            color: white;
            margin-top: 20px;
            margin-bottom: 60px;
           
            &:hover
            {
                animation-name: buttonColor;
                            animation-duration:.5s;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            box-shadow: 3px 3px 3px rgb(78, 78, 78);
            }
         }

     }
}

.footer
        {
            width: 375px;
            margin: auto;
            font-family: Roboto;
            font-size: medium;
            background-color:$footerBackGroundColor;
            color:$footerTextColor;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            top:-50px;
            display: flex;
            @include flexBox(column,null,null);
            
            .FooterChild1
            {
                margin-top: 15px;
                margin-bottom: 15px;
                font-style: italic;
                font-weight: 700;
                &:hover
                {
                    color:#9356DC;
                }
                
            }

            .FooterChild2
            {
                margin-top: 3px;
                margin-bottom: 3px;
                &:hover
                {
                    color:#9356DC;
                }
            }

            .FooterChild3
            {
                margin-top: 3px;
                margin-bottom: 3px;
                &:hover
                {
                    color:#9356DC;
                }
            
            }
            .FooterChild4
            {
                margin-top: 3px;
                margin-bottom: 3px;
                &:hover
                {
                    color:#9356DC;
                }
                
            }
            .FooterChild5
            {
                margin-top: 5px;
                margin-bottom: 20px;
                &:hover
                {
                    color:#9356DC;
                }
                
            }


           
            .maillink{
                color: white;
                text-decoration: none;
                &:hover
                {
                    color:#9356DC;
                }
            }

            .fa-utensils{
                margin-right:10px;

                height: 10px;
            }

            .fa-handshake{
                margin-right:5px;
                height: 10px;
            }
        }   
             
                
             

@keyframes MenuHoverTransition {
    0%{ 
        transform:ScaleX(0);}
        

    100%{
        transform:ScaleX(1);
        
    }   
   }

   @keyframes MenuHoverTransitionReverse {
    100%{ 
        transform-origin: right 50%;}
        

    0%{
       
        transform-origin: revert;
    }   
   }

   @keyframes MenuHoverTransitionCheckmark {
        
    100%{
        transform: rotate(360deg);
        
    }   
   }

   @keyframes MenuLoad {
    0%{  transform: translateY(-1px);}
    25%{ transform: translateY(-2px);}
    50%{transform: translateY(-3px);}    
    100%{transform: translateY(-5px);}
    
   }

   @keyframes MenuVisiblity {
    0%{ opacity: 0;}
   
        100%{  
            opacity: 1;}
       
    }


    @keyframes buttonColor {
    
        0%{
           background-position: left;
    
        }
       100%{background-position: left;}
        
        
    }

