* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F2F2F2;
  display: flex;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(252, 254, 255);
  width: 375px;
  margin: auto;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .backlink {
  margin-left: 15px;
}
header .LogoImg {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  object-fit: cover;
}

.main {
  width: 375px;
  margin: auto;
}
.main .RestaurantsImages .Rest_images {
  width: 100%;
  height: 250px;
}
.main .MenuMainContainer {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  width: 100%;
  background-color: #F1F1F1;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .MenuMainContainer .MenuBasille {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}
.main .MenuMainContainer .MenuBasille .MenuBasilleText {
  font-size: x-large;
  font-weight: 900;
  font-style: italic;
  padding-left: 20px;
  width: 70%;
}
.main .MenuMainContainer .MenuBasille .MenuBasilleHertIcon {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}
.main .MenuMainContainer .MenuEntrees {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .MenuMainContainer .MenuEntrees .childMenuEntreesText {
  color: red;
  margin-bottom: 10px;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation-duration: 2000ms;
  animation-name: MenuVisiblity;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList:nth-child(1) {
  position: relative;
  animation-duration: 1000ms;
  animation-name: MenuLoad;
  animation-fill-mode: forwards;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList:nth-child(2) {
  position: relative;
  animation-duration: 1000ms;
  animation-name: MenuLoad;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList:nth-child(3) {
  position: relative;
  animation-duration: 1000ms;
  animation-name: MenuLoad;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList {
  position: relative;
  width: 100%;
  background-color: white;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .MenuEntreesList1Text {
  width: 80%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .MenuEntreesList1Text .MenuEntreesList1LigtText {
  margin-top: 5px;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .MenuEntreesList1Price {
  width: 30%;
  position: relative;
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .MenuEntreesList1Price .MenuPrice {
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .menuCheckmark {
  visibility: hidden;
  display: none;
  position: relative;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 80px;
  background-color: #99E2D0;
  transform-origin: right 50%;
  animation-name: MenuHoverTransition;
  animation-duration: 1000ms;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList .MenuEntreesList1 .menuCheckmark .fa-check {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #99E2D0;
  animation-name: MenuHoverTransitionCheckmark;
  animation-duration: 500ms;
}
.main .MenuMainContainer .MenuEntrees .ParentMenu .childMenuEntreesList:hover .menuCheckmark {
  visibility: visible;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.main .MenuMainContainer .MenuBasilleButton {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(25deg, #9356DC, #a041c5, #dc56af);
  margin-bottom: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
}
.main .MenuMainContainer .MenuBasilleButton:hover {
  animation-name: buttonColor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 3px 3px 3px rgb(78, 78, 78);
}

.footer {
  width: 375px;
  margin: auto;
  background-color: rgba(14, 13, 13, 0.829);
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: -50px;
  display: flex;
  display: flex;
  flex-direction: column;
}
.footer .FooterChild1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 700;
}
.footer .FooterChild2 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: small;
}
.footer .FooterChild3 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: small;
}
.footer .FooterChild4 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: small;
}
.footer .FooterChild5 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: small;
}
.footer .maillink {
  color: white;
  text-decoration: none;
}
.footer .fa-utensils {
  margin-right: 10px;
  height: 10px;
}
.footer .fa-handshake {
  margin-right: 5px;
  height: 10px;
}

@keyframes MenuHoverTransition {
  0% {
    transform: ScaleX(0);
  }
  100% {
    transform: ScaleX(1);
  }
}
@keyframes MenuHoverTransitionCheckmark {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes MenuLoad {
  0% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes MenuVisiblity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes buttonColor {
  0% {
    background-position: left;
  }
  100% {
    background-position: left;
  }
}

/*# sourceMappingURL=menu.css.map */
