@import './variables';
@import './resets';


@mixin flexBox($direction,$justifyContent,$alignitem)
 {
                display: flex;
                flex-direction: $direction;
                justify-content:$justifyContent;
                align-items:$alignitem;
    }


    
body
{
    background-color:$backgound;

}

header{
              
    background-color: rgb(252, 254, 255);
    width: 375px;
    margin:auto;
    flex:auto;
    @include flexBox(row,center,center);
    
    .LogoImg
       {
          width:60%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          margin-bottom: 10px;
          height:70%;
            object-fit: cover;
           
       }
}


main
{
    
    width: 375px;
    margin: auto;
    
   .RestaurantsImages
   {
    .Rest_images
    {
       width:100%;
       height:250px;
    }
   }

     .MenuMainContainer{
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding-left: 10px;
        padding-right: 10px;

        width:100%;
        background-color:$backgoundSection2;
        border-left: .5px solid white;
        border-right: .5px solid white;
        position: relative;
        bottom: 50px;
        @include flexBox(column,center,center);
         .MenuBasille
         {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
           display: flex;
           flex-direction: row; 
               .MenuBasilleText{
                padding-left: 20px;
                   width: 70%;
                }   
                .MenuBasilleHertIcon{
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding-right: 20px;
                }
         }

         .MenuEntrees{
            width:100%;
            @include flexBox(column,flex-start,null);
                    .childMenuEntreesText{
                     color:red;
                     margin-bottom: 10px;
                    }
                    .childMenuEntreesList{
                        width: 100%;
                        background-color: white ;
                        height: 60px;
                        border-radius: 15px;
                        margin-bottom: 15px;
                        @include flexBox(column,flex-start,null);
                               .MenuEntreesList1{
                                height: 100%;
                                @include flexBox(row,flex-start,null);
                                   .MenuEntreesList1Text{
                                     width: 80%;
                                     margin-left:10px;
                                     @include flexBox(column,center,flex-start);
                                   }

                                   .MenuEntreesList1Price
                                   {
                                    width: 30%;
                                    position: relative;
                                    display: inline;
                                   
                                    @include flexBox(row,flex-end,center);
                                    
                                    
                                    

                                   }
                                   .menuCheckmark
                                    {   visibility: hidden;
                                        display: none;
                                        position: relative;
                                        border-top-right-radius: 15px;
                                        border-bottom-right-radius: 15px;
                                        height: 100%;
                                        width: 80px;
                                        background-color: $menuHoverColor;
                                        transform-origin: right 50%;
                                        animation-name:MenuHoverTransition;
                                        animation-duration: 1000ms;   
                                        .fa-check{
                                            background-color: white;
                                            width: 20px;
                                            height: 20px;
                                            border-radius: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            text-align: center;
                                            color: $Tertiary;
                                            animation-name:MenuHoverTransitionCheckmark;
                                            animation-duration: 500ms;
                                        }

                                    }

                               }

                               &:hover {
                                .menuCheckmark{
                                    visibility: visible;
                                    display: inline;
                                     display: flex;
                                     flex-direction: column;
                                     justify-content: center;
                                     align-items: center;
                                     margin-left:10px;
                                                 
                                      
                                
                                }
                              }
                    }
         } 

         .MenuBasilleButton{
            width: 130px;
            height: 50px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$Primary;
            margin-bottom:15px;
            color: white;
         }

     }
}

.footer
{
    background-color:$footerBackGroundColor;
    color: $footerTextColor;
    width: 375px;
    margin: auto;
}

@keyframes MenuHoverTransition {
    0%{ 
        transform:ScaleX(0);}
        

    100%{
        transform:ScaleX(1);
        
    }   
   }

   @keyframes MenuHoverTransitionCheckmark {
        
    100%{
        transform: rotate(360deg);
        
    }   
   }
