
@import './variables';
header
{
    background-color: rgb(39, 132, 163);
    flex:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body
{
background-color: #a0ff8d;
}

 .Restaurants
 {
    display: flex;
    flex-direction:column;
 }

.RestaurantsImages
{
    
    width: 100px;
    height: 100px;
}

section
{
display: flex;
flex-direction: row;
justify-content: center;
}

footer
{
    background-color:$footer;

}

