* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(252, 254, 255);
  width: 80%;
  margin: auto;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .LogoImg {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  width: 80%;
  margin: auto;
}
main .Nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
main .Nav .navText {
  margin-bottom: 15px;
}
main .Nav .navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .Nav .navResturant {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .Nav .navResturant .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .Nav .navResturant .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
main .Nav .navResturant .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .Nav .navMenu {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .Nav .navMenu .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .Nav .navMenu .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
main .Nav .navMenu .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .Nav .navEnjoyatResturant {
  width: 100%;
  height: 80px;
  border-radius: 30px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .Nav .navEnjoyatResturant .divNavIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .Nav .navEnjoyatResturant .divNavIconText .navIconPadding {
  padding-left: 20px;
  padding-right: 20px;
}
main .Nav .navEnjoyatResturant .circleIcon {
  height: 15px;
  width: 15px;
  border: 1px solid #9356DC;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .Section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border: 2px solid white;
  background-color: #F1F1F1;
}
main .Section2 .ExploreRestaurants {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF79DA;
  margin-bottom: 15px;
  color: white;
}
main .Section2 .ExploreRestaurants:hover {
  color: #9356DC;
}
main .Section2 .header_1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
main .Section2 .header_2 {
  margin-bottom: 15px;
  text-align: center;
}
main .Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #F1F1F1;
  border: 2px solid white;
}
main .Restaurants .divTextRestuarants {
  padding-top: 25px;
  padding-bottom: 15px;
}
main .Restaurants .RestaurantsCards {
  width: 300px;
  height: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: #9356DC;
  border: white 2px;
  border-radius: 10px;
}
main .Restaurants .RestaurantsCards .RestaurantsImages {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
main .Restaurants .RestaurantsCards .RestaurantsImages .Rest_images {
  height: 200px;
  width: -moz-max-content;
  width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body {
  background-color: #F2F2F2;
}

.footer {
  width: 80%;
  margin: auto;
}

.Section_Location {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
}

.Location {
  margin-left: 15px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: rgba(26, 25, 25, 0.548);
  color: white;
}/*# sourceMappingURL=main.css.map */