
@import './variables';
@import './resets';

@mixin flexBox($direction,$justifyContent,$alignitem)
 {
                display: flex;
                flex-direction: $direction;
                justify-content:$justifyContent;
                align-items:$alignitem;
    }

  @mixin circleIcon
  {
    height:15px;
    width: 15px;
    border:1px solid $Primary;
    border-radius:10px;
    background-color: $Primary;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;

  }  
    

    header
            {
                background-color: rgb(252, 254, 255);
                width: 80%;
                margin:auto;
                flex:auto;
                @include flexBox(row,center,center);
                
                .LogoImg
                   {
                      width:60%;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      height:70%;
                        object-fit: cover;
                       
                   }
            }


main
{
    
    width: 80%;
    margin: auto;
    
    

            .Nav
            {
                display: flex;
                flex-direction: column;
                background-color:white;
                padding-top:20px;
                padding-bottom: 20px;
                padding-right: 10px;
                padding-left: 10px;
                        
                    .navText
                        {
                         margin-bottom: 15px;
                        }
                    .navLinks
                        {
                            @include flexBox(row,space-between,flex-start);
                            flex-wrap: wrap;
                    
                                .navResturant
                                    {   
                                        width:33%;
                                        height: 80px;
                                        border-radius: 30px;
                                        background-color: $MenuBackgourdColor;
                                        margin-bottom: 15px;
                                        display: flex;
                                        flex-direction:row;
                                        align-items: center;
                                        &:hover
                                            {
                                                background-color: #dfcce7;
                                            }
                                        .divNavIconText
                                        {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content:flex-start;
                                            align-items: center;
                                            .navIconPadding
                                            {
                                            padding-left: 20px;
                                            padding-right: 20px;
                                            }
                                        }
                                       .circleIcon
                                        {
                                          @include  circleIcon;
                                        }
                                    }
                            .navMenu
                            {
                                width:33%;
                                height: 80px;
                                border-radius: 30px;
                                background-color: $MenuBackgourdColor;
                                margin-bottom: 15px;
                                display: flex;
                            flex-direction:row;
                            align-items: center;
                            .divNavIconText
                             {
                                display: flex;
                                flex-direction: row;
                                justify-content:flex-start;
                                align-items: center;
                                .navIconPadding
                                 {
                                padding-left: 20px;
                                padding-right: 20px;
                                  }
                             }
                                .circleIcon
                                {
                                   
                                     @include  circleIcon;
                                }
                            }
                            .navEnjoyatResturant
                                {
                                    width:33%;
                                    height: 80px;
                                    border-radius: 30px;
                                    background-color: $MenuBackgourdColor;
                                    display: flex;
                                    flex-direction:row;
                                    align-items: center;
                                    .divNavIconText
                                    {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content:flex-start;
                                        align-items: center;
                                        .navIconPadding
                                        {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        }
                                    }

                                            .circleIcon
                                            {
                                            
                                                @include  circleIcon;
                                            }
                                }
                        }
            }

            .Section2
                {
                    display: flex;
                    flex-direction: column;
                     align-items: center;
                    padding-left:15px;
                    padding-right: 15px;
                    padding-bottom:20px;
                    border: 2px solid white;
                    background-color:$backgoundSection1;
                  .ExploreRestaurants
                    {
                        width: 200px;
                        height: 50px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color:$Secondary;
                        margin-bottom:15px;
                        color: white;
                        transition: 1s ease-in-out;
                        
                        &:hover
                          {
                            color:black;
                            background-color:$Primary;
                           
                          }         
                    }

                    .header_1
                        {
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                        .header_2
                        {
                            margin-bottom: 15px;
                            text-align:center
                        }


                }
             
                .Restaurants
                 {
                           @include flexBox(column,flex-start,flex-start);
                           height:auto;
                           background-color:$backgoundSection2;
                           border: 2px solid white;
                           padding-left:15px;
                           padding-right:15px;

                           .divTextRestuarants
                           {
                            padding-top: 25px;
                            padding-bottom:15px;
                            
                           }
                         
                           .ContainerRestaurantsCards
                           {

                            @include flexBox(row,space-between,flex-start);

                            flex-wrap: wrap;
                                                   

                           .RestaurantsCards
                          {
                                width:300px;
                                height: 260px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                margin-bottom: 10px;
                                background-color: $Primary;
                                border: white 2px;
                                border-radius: 10px;

                        .RestaurantsImages
                        {
                          
                        width: max-content;
                        height: max-content;    
                        
                        .Rest_images
                       {
                       height:200px;
                       width:max-content;
                       object-fit: cover;
                       border-top-left-radius: 10px;
                       border-top-right-radius: 10px;
                       
                       }

                        }
                        
                        }
                    }
                       
                      
                       
                       


                    }

}




body
{
    background-color:$backgound;

}

.footer
{
    width: 80%;
    margin: auto;
}

.Section_Location
{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
}









.Location
{ 

    margin-left: 15px;
}




 










section
{
display: flex;
flex-direction: row;
justify-content: center;
}

footer
{
    background-color:$footer;
    color: white;

}



