@media screen and (max-width :420px)
{
    .header {
        width: 100%;
            }
            .main
            {
                width: 100%
            }
            .footer
            {
                width: 100%

            }
}